<% include layout/header.ejs %>

  <div class="container">
    <div id="content" class="content-help"  style="background-color : white; margin: 5px;">
    <h1 class="title-help">SHOPPING GUIDE</h1>
      <div class="one-content-help">
            <b class="title-one-content-help" style="font-size:20px">
              I. To buy goods, you do not need to go directly to our Showrooms, you can choose to buy online by choosing one of the following ways to purchase:
            </b>
            <br>
            <br>
                      <div class= "word" style="font-size:16px ; ">
                      <b style= "font-size:16px">Option 1</b>: Call the Call Center 1800 6715 or 0984648592 from 8am - 8pm (both Sundays and Holidays) to order. With a team of professional, experienced staff, we are always ready to serve, advise and support you to buy the right product.
                      <br>
                      <br>
                          <b>Option 2</b>: Order online on Website: OAYYA.com
                      <br>
            <br>
                          <b>Step 1</b>: Visit the website and select the product you want to buy to purchase
            <br>
            <br>
                          <b>Step 2</b>: Click and the product you want to buy, the screen will pop up with the following options:
            <br>
                          <p>If you want to continue shopping: Click Where to buy? and then follow the instructions</p>
            <br>
                          <b>Step 3</b>: Select payment account information
            </div>
      </div>
      
      <br>    
    <div class="two-content-help" style= "font-size:16px">
      <b class="title-two-content-help" >
        II. Pay
      </b>
      <br>
      After confirming the order, OAYYA will deliver the goods to your place, please receive the goods and pay the delivery staff. Free shipping nationwide
      <br>
      <br>
      <img src="/images/dathang.png" width="50%">
      <br>
      <br>
      The parties in the sale and purchase agreement must comply with the provisions on the obligations of the parties in the civil transaction and the provisions on liability specified in the Commercial Law 2005 including: obligations of the seller and obligations of the buyer.    </div>
    <div class="three-content-help">
      <b class="title-three-content-help">
        <h3>III. Obligations of the Seller:</h3>
      </b>
      <div style="font-size: 17px">   
      1. Delivery to the right object and quality: The seller must deliver the goods to the right object and quality as agreed in the contract and as prescribed by law.      <br>
      <br>
      2. Deliver the right quantity of goods as agreed in the contract: The seller must deliver the agreed quantity of goods, in case the seller delivers the wrong quantity, the buyer has the right to refuse and return it to the seller. sell. If there are no complaints, it is considered that the modification of the quantity of goods has been accepted.
      <br>
      <br>
      3. Deliver documents together with goods.
      <br>
      <br>
      4. Delivery on time and place
      <br>
      <br>
      5. Check the goods before delivery
      <br>
      <br>
      6. Goods warranty obligations
      <br>
      <br>
      7. Obligation to secure ownership of goods
    </div>
    </div>
      <br>
    <div class="four-content-help" style="font-size: 17px">
      <b class="title-four-content-help">
        <h3> IV. Obligations of the buyer:</h3>
      </b>
      1. Receive goods and pay money
      <br>
    <li>The buyer is obliged to pay for the purchase and receive the goods as agreed. Comply with payment methods, make payments according to the agreed order and procedures and in accordance with the law.</li>
    <br>
    <li>The buyer still has to pay the purchase price in case the goods are lost or damaged after the time the risk is transferred from the seller to the buyer, except for the case where the loss or damage is caused by the seller's fault. out.</li>
      <br>
      2. Ensuring intellectual property rights of goods. In general, the most important and top obligation of the parties is still to strictly comply with the agreed contents in the contract, in accordance with the law and ethics. social virtue.
      <br>
    </div>
   </div>
  </div>
<% include layout/footer.ejs %>



<style type="text/css">
  #categorymenu {
    display: none !important;
  }
</style>