
<% include layout/header.ejs %>
<style>
    body{
        padding: 10px;
      
       font-size: 16px;
    }

    .left{
        padding: 20px;
    }
    .tab1{
        font-size: 30px;
        width: 50%;
        height: 100%;
        line-height: 2;
        
    }
  #categorymenu {
    display: none !important;
  }
</style>
<div class="container">
    <div class="left">
         <h5>
            <b style= "font-size:20px">  I. Transfer :</b>
        </h5>
            Bank transfer is the fastest, safest and most convenient form of payment. As long as you have a bank account, you can make payments anytime and anywhere.
            <br>
            <b style="color:red ; font-size:16px">Please note:</b>
            
            <br>
            * Funds must be transferred from your corporate account to our corporate account for the invoice to be valid.
            <br>
            * Must write the transfer content as instructed.
    </div>
    <div class="left">
            <h5>
                <b style= "font-size:20px">II. Pay at home</b>

            </h5>

            <table>
                <tr>
                    <td>
                        During 2-7 working days, staff will come to your address to deliver & collect money. With the home payment method, the staff will go to the address in the Contact Information section you registered in the previous step to deliver and collect money. You can carefully check the product information ordered and pay directly to the delivery staff.
                        <br>
                        <b style="font-size: 16px">Notes when paying for products:</b>
                    </td>
                </tr>

                <tr >

                    <td>
                        - After a successful order, we will send order information via email or via the message you provide. Please check the information carefully about the customer's name, product and other related issues. Any changes or errors in the ordering process may result in additional charges or no delivery, so please double check before paying.
                    </td>
                </tr>
                <br>
                <tr>

                    <td>
                        - Products may require immediate payment or have a certain period of time to request payment and up to 12 hours from the time of order, the most precise time will be sent to your email. ,after the above time the product will be canceled and we are not responsible if the ticket is not paid after the due date.
                    </td>
                </tr>

                <tr >
                    <td>
                        - After payment is complete, the e-ticket will be sent via email or registered phone number. Please save the information to check in for passengers before the flight. If you lost your ticket or message, you can contact the hotline <b>0984648592</b> to receive the product back.
                    </td>
                </tr>

            </table>
    </div>
</div>
<% include layout/footer.ejs %>