<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <base href="http://localhost:3000/">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,400italic,600,600italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/bootstrap-responsive.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="css/flexslider.css" type="text/css" media="screen" rel="stylesheet"  />
  <link href="css/jquery.fancybox.css" rel="stylesheet">
  <link href="css/cloud-zoom.css" rel="stylesheet">

  <link href="css1/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css1/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="js1/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="js1/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="css1/themecss/lib.css" rel="stylesheet">
    <link href="js1/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="js1/minicolors/miniColors.css" rel="stylesheet">

    <link href="js1/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
<!--
    <link th:href="@{/pe-icon-7-stroke/css/helper.html}" rel="stylesheet">
-->

    <!-- Theme CSS
    ============================================ -->
    <link href="css1/themecss/so_searchpro.css" rel="stylesheet">
    <link href="css1/themecss/so_megamenu.css" rel="stylesheet">
    <link href="css1/themecss/so-categories.css" rel="stylesheet">
    <link href="css1/themecss/so-listing-tabs.css" rel="stylesheet">
    <link href="css1/themecss/so-categories.css" rel="stylesheet">
    <link href="css1/themecss/so-newletter-popup.css" rel="stylesheet">

    <link href="css1/footer/footer4.css" rel="stylesheet">
    <link href="css1/header/header4.css" rel="stylesheet">
    <link id="color_scheme" href="css1/home4.css" rel="stylesheet">
    <link href="css1/responsive.css" rel="stylesheet">

    <!-- Google web fonts
   ============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500,600,700' rel='stylesheet'
          type='text/css'>
    <style type="text/css">
         body{font-family:'Rubik', sans-serif}
    
    </style>
    <link href="css1/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css1/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="js1/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="js1/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="css1/themecss/lib.css" rel="stylesheet">
    <link href="js1/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="js1/minicolors/miniColors.css" rel="stylesheet">

    <link href="js1/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet">
<!--
    <link th:href="@{/pe-icon-7-stroke/css/helper.html}" rel="stylesheet">
-->

    

    <!-- Google web fonts
   ============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500,600,700' rel='stylesheet'
          type='text/css'>
    <style type="text/css">
         body{font-family:'Rubik', sans-serif}
    
    </style>

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
  <!-- fav -->
  <link rel="shortcut icon" href="assets/ico/favicon.html">
</head>
<body>

  <header id="header" class=" typeheader-4">

    <!-- Header Top -->
    <div class="header-top hidden-compact">
        <div class="container">
            <div class="row">
                <div class="header-top-left col-lg-3 col-md-4 col-sm-5 hidden-xs">
                    <div class="telephone " >
                        <ul class="socials">
                            <li class="facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li class="google_plus"><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                            <li class="pinterest"><a href="#" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                            <li class="instagram"><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <li class="linkedin"><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="header-top-right col-lg-9 col-md-8 col-sm-7 col-xs-12">

                    <ul class="top-log list-inline">
                        <li><i class="fa fa-lock"></i><a href="/dang-nhap.html">Login</a> / </li>
                        <li><a href="/dang-ky.html">Register</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="header-middle">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <div class="logo">
                        <a href="/"><img src="img/LOGO1.PNG" style="width:200px;height: 83px;margin-top: -20px;" title="Your Store" alt="Your Store" /></a>
                    </div>

                </div>
                <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 middle-right">
                    <div class="search-header-w">
                        <div class="icon-search hidden-lg hidden-md"><i class="fa fa-search"></i></div>

                        <div id="sosearchpro" class="sosearchpro-wrapper so-search ">
                            <form >
                                <div id="search0" class="search input-group form-group">
                                    <input class="autosearch-input form-control" type="text" id="search-keyword" size="50" autocomplete="off" placeholder="Tìm kiếm ....." name="key" >

                                    <button type="submit" class="button-search btn btn-primary"><i class="fa fa-search"></i></button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header-bottom hidden-compact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
                    <div class="main-menu-w">
                        <div class="responsive so-megamenu megamenu-style-dev">
                            <nav class="navbar-default">
                                <div class=" container-megamenu  horizontal open ">
                                    <div class="navbar-header">
                                        <button type="button" id="show-megamenu" data-toggle="collapse" class="navbar-toggle">
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>

                                    <div class="megamenu-wrapper">
                                        <span id="remove-megamenu" class="fa fa-times"></span>
                                        <div class="megamenu-pattern">
                                            <div class="container-mega">
                                                <ul class="megamenu" data-transition="slide" data-animationtime="250">
                                                    <li class=" classActiveHome">
                                                        <p class="close-menu"></p>
                                                        <a href="/" class="clearfix">
                                                            <strong><i class="fa fa-home"></i>TRANG CHỦ</strong>
                                                        </a>
                                                    </li>
                                                    <li class="classActivePartSearch">
                                                        <p class="close-menu"></p>
                                                        <a href="/danh-muc/-mens-shirt.8.html" class="clearfix">
                                                            <strong><i class="fa fa-search"></i>TÌM KIẾM THÚ CƯNG</strong>
                                                        </a>
                                                    </li>

                                                    <li class=" classActiveCategory">
                                                        <p class="close-menu"></p>
                                                        <a href="/huong-dan.html" class="clearfix">
                                                            <strong><i class="fa fa-sitemap"></i>GIỚI THIỆU</strong>
                                                            
                                                        </a>
                                                    </li>

                                                    <li class=" classActiveCategory">
                                                        <p class="close-menu"></p>
                                                        <a href="/security.html" class="clearfix">
                                                            <strong><i class="fa fa-sitemap"></i>LIÊN HỆ</strong>
                                                            <b class="caret"></b>
                                                        </a>
                                                    </li>

                                                    <li class=" classActiveViewCart">
                                                        <p class="close-menu"></p>
                                                        <a href="/gio-hang.html" class="clearfix">
                                                            <strong><i class="fa fa-shopping-cart"></i>GIỎ HÀNG</strong>
                                                        </a>
                                                    </li>
                                                    <li class="classActiveCheckout">
                                                        <p class="close-menu"></p>
                                                        <a href="/dat-hang.html" class="clearfix">
                                                            <strong><i class="fa fa-check-circle"></i>THANH TOÁN</strong>
                                                        </a>
                                                    </li>
                                                    <li th:class=" ${classActiveMyAccount}">
                                                        <p class="close-menu"></p>
                                                        <a href="/dat-hang.html" class="clearfix">
                                                            <strong><i class="fa fa-dashboard"></i>TÀI KHOẢN</strong>
                                                        </a>
                                                    </li>

                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="js1/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="js1/bootstrap.min.js"></script>
<script type="text/javascript" src="js1/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="js1/slick-slider/slick.js"></script>
<script type="text/javascript" src="js1/themejs/libs.js"></script>
<script type="text/javascript" src="js1/unveil/jquery.unveil.js"></script>
<script type="text/javascript" src="js1/countdown/jquery.countdown.min.js"></script>
<script type="text/javascript" src="js1/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js"></script>
<script type="text/javascript" src="js1/datetimepicker/moment.js}"></script>
<script type="text/javascript" src="js1/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="js1/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="js1/modernizr/modernizr-2.6.2.min.js"></script>
<script type="text/javascript" src="js1/minicolors/jquery.miniColors.min.js"></script>

<script type="text/javascript" :src="js1/lightslider/lightslider.js"></script>

<!-- Theme files
============================================ -->

<script type="text/javascript" src="js1/themejs/toppanel.js"></script>
<script type="text/javascript" src="js1/themejs/so_megamenu.js"></script>
<script type="text/javascript" src="js1/themejs/addtocart.js"></script>

<script type="text/javascript" src="js1/themejs/application.js"></script>

    <script type="text/javascript">
        var input = document.getElementById("search-keyword");
    
        input.addEventListener("keyup", function(event) {
          if (event.keyCode === 13) {
            window.location.href = '/tim-kiem.html?keyword=' + input.value;
          }
        });
      </script>
      

</header>



