<div class="page-sidebar pagescroll">
    <!-- MAIN MENU - START -->
    <div class="page-sidebar-wrapper" id="main-menu-wrapper">
        <!-- USER INFO - START -->
        <div class="profile-info row">
            <div class="profile-image col-xs-4">
                <a href="/admin">
                    <img alt="" src="" class="img-responsive img-circle avatar">
                </a>
            </div>
            <div class="profile-details col-xs-8">
                <h3>
                    <a href="/admin" class="name">Shane Taylor</a>
                    <!-- Available statuses: online, idle, busy, away and offline -->
                    <span class="profile-status online"></span>
                </h3>
               
            </div>
        </div>
        <!-- USER INFO - END -->
        <ul class='wraplist'>
            <li class='menusection'>Main</li>
            <li class="open">
                <a href="/admin">
                    <i class="fa fa-dashboard"></i>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li class="">
                <a href="javascript:;">
                    <i class="fa fa-suitcase"></i>
                    <span class="title">Category</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a class="" href="admin/category/danh-sach.html">List Category </a>
                    </li>
                    <li>
                        <a class="" href="admin/category/them.html">Add new Category</a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="javascript:;">
                    <i class="fa fa-suitcase"></i>
                    <span class="title">Product</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a class="" href="admin/product/danh-sach.html">List Product</a>
                    </li>
                    <li>
                        <a class="" href="admin/product/them.html">Add new Product</a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="javascript:;">
                    <i class="fa fa-suitcase"></i>
                    <span class="title">Order</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a class="" href="admin/order/danh-sach.html">List Order </a>
                    </li>
                </ul>
            </li>
            <li class="">
                <a href="javascript:;">
                    <i class="fa fa-suitcase"></i>
                    <span class="title">User</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a class="" href="admin/user/danh-sach.html">List User</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <!-- MAIN MENU - END -->
</div>